<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="\Magento\Shipping\Block\Adminhtml\View">
        <plugin name="OddWare_ShipsterConnect::pluginBeforeShipmentView" type="OddWare\ShipsterConnect\Plugin\PluginBeforeShipmentView" />
    </type>
    <type name="\Magento\Sales\Block\Adminhtml\Order\View">
        <plugin name="OddWare_ShipsterConnect::pluginBeforeOrderView" type="OddWare\ShipsterConnect\Plugin\PluginBeforeOrderView" />
    </type>
    <type name="\Magento\Shipping\Block\Items">
        <plugin name="OddWare_ShipsterConnect::pluginBeforeOrderShipmentView" type="OddWare\ShipsterConnect\Ui\Component\Listing\Column\Order\PluginBeforeOrderShipmentView" />
    </type>
</config>