<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="\Magento\Sales\Block\Adminhtml\Shipment\View">
        <plugin name="OddWare_ShipsterConnect::OddWare.ShipsterConnect" type="OddWare\ShipsterConnect\Plugin\PluginAfterShipping" />
    </type>
</config>